h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
    margin: 0px;
    background-color: black;
    color: white;
  }

h2 {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

#album {
    text-align: center;
}

button {
    position: relative;
    background-color: #030000;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    padding: 10px;
  }

 #container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }

  .submit {
    position: relative;
    background-color: #000000;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  #form-container{
    display: none;
    background-color: lightgrey;
  }

  p.text-align{
    gap:5px;
  }

  #album-Container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.divAlbum{
  align-items: flex-start;
  height: min-content;
  align-content: center;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}




#songContainer{
  margin: 20px;
}

#filterHead{
  text-align: center;
}

#sorter{
  font-size: 15px;
}